html{
    background-color: black;
}
body{
            font-size: 16px;
        }

header h1{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: normal;
font-size: 50px;
color: white;
text-align: center;
}
header p{
    color: aquamarine;
    font-size: 16px;
    text-align: center;
    text-decoration: underline;
}
